<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrapの基本テンプレート</title>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/main.css" rel="stylesheet">
	<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
            <form class="form-horizontal" method="post">
                <fieldset>
                    <div class="row">
                        <legend style="background-color: #00CC99; color: white;">配信検索</legend>
                        <div class="form-group">
                            <label style="color: #00CC99" class="col-md-2 control-label" for="InputHostName">HostName</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="InputHostName" name="host_name" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="color: #00CC99" class="col-md-2 control-label" for="InputDate">Date</label>
                            <div class="col-md-10">
                                <input type="date" class="form-control" id="InputDate" name="log_date" >
                            </div>
                        </div>
	                <div class="form-group">
		            <div class="col-sm-offset-2 col-sm-10">
			        <button type="submit" class="btn btn-default">送信</button>
		            </div>
	                </div>
                    </div>
                </fieldset>
            </form>
        <div class="row">
            {% if host_name %}
                <h3>{{ host_name }}</h3>
                <h3>{{ log_date }}</h3>
            {% endif %}
        </div>
    </div>
</body>
</html>
